@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
/*[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
*/
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
[class*="icon-"] {
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	display: block;
	background-repeat: no-repeat;
	-webkit-font-smoothing: antialiased;
	height: 16px;
	width: 16px;
	font: 0 W;
}
[class*="icon-"]:before {
	font-family: 'icomoon';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	font-size: 16px;
}

/*.icon-menu, .icon-cog, .icon-close, .icon-expand, .icon-contract, .icon-user {

}*/
/*
.icon-menu {
	text-indent: 4em;
}
*/

.icon-menu {
	background-image: url("images/menu.png");
}
.icon-menu:before {
	content: "\61";
}
.icon-cog {
	background-image: url("images/cog.png");
}
.icon-cog:before {
	content: "\62";
}
.icon-close {
	background-image: url("images/close.png");
}
.icon-close:before {
	content: "\63";
}
.icon-expand {
	background-image: url("images/expand.png");
}
.icon-expand:before {
	content: "\64";
}
.icon-contract {
	background-image: url("images/contract.png");
}
.icon-contract:before {
	content: "\65";
}
.icon-user {
	background-image: url("images/user.png");
}
.icon-user:before {
	content: "\66";
}
.icon-user {
	background-image: url("images/user.png");
}
.icon-user:before {
	content: "\66";
}

/* Temp */
.supports-fontface [class*="icon-"] {
	background-image: none;
}

/* Temp */
html:not(.supports-fontface) [class*="icon-"]:before {
	text-indent: -9999px;
	display: inline-block;
	background-position: 0 0;
}
